xml-resources/web-service-references/VistaLoginMethods/wsdl/localhost_8080/1erProyectoSoap/VistaLoginMethods.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://sw/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sw/">

<xs:element name="deposito" type="tns:deposito"/>

<xs:element name="depositoResponse" type="tns:depositoResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="iniciosesion" type="tns:iniciosesion"/>

<xs:element name="iniciosesionResponse" type="tns:iniciosesionResponse"/>

<xs:element name="registro" type="tns:registro"/>

<xs:element name="registroResponse" type="tns:registroResponse"/>

<xs:element name="retiro" type="tns:retiro"/>

<xs:element name="retiroResponse" type="tns:retiroResponse"/>

<xs:complexType name="registro">
<xs:sequence>
<xs:element name="usuario" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="total" type="xs:int"/>
<xs:element name="user_name" type="xs:string" minOccurs="0"/>
<xs:element name="user_password" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registroResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deposito">
<xs:sequence>
<xs:element name="cantidad" type="tns:transaccion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transaccion">
<xs:sequence>
<xs:element name="estado" type="xs:boolean"/>
<xs:element name="total" type="xs:int"/>
<xs:element name="user_name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="depositoResponse">
<xs:sequence>
<xs:element name="return" type="tns:transaccion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="iniciosesion">
<xs:sequence>
<xs:element name="usuario" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="iniciosesionResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retiro">
<xs:sequence>
<xs:element name="cantidad" type="tns:transaccion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="retiroResponse">
<xs:sequence>
<xs:element name="return" type="tns:transaccion" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>