xml-resources/web-service-references/VistaLoginMethods/wsdl/localhost_8080/1erProyectoSoap/VistaLoginMethods.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sw/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sw/" name="VistaLoginMethods">
<types>
<xsd:schema>
<xsd:import namespace="http://sw/" schemaLocation="http://localhost:8080/1erProyectoSoap/VistaLoginMethods?xsd=1"/>
</xsd:schema>
</types>
<message name="registro">
<part name="parameters" element="tns:registro"/>
</message>
<message name="registroResponse">
<part name="parameters" element="tns:registroResponse"/>
</message>
<message name="deposito">
<part name="parameters" element="tns:deposito"/>
</message>
<message name="depositoResponse">
<part name="parameters" element="tns:depositoResponse"/>
</message>
<message name="retiro">
<part name="parameters" element="tns:retiro"/>
</message>
<message name="retiroResponse">
<part name="parameters" element="tns:retiroResponse"/>
</message>
<message name="iniciosesion">
<part name="parameters" element="tns:iniciosesion"/>
</message>
<message name="iniciosesionResponse">
<part name="parameters" element="tns:iniciosesionResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="VistaLoginMethods">
<operation name="registro">
<input wsam:Action="http://sw/VistaLoginMethods/registroRequest" message="tns:registro"/>
<output wsam:Action="http://sw/VistaLoginMethods/registroResponse" message="tns:registroResponse"/>
</operation>
<operation name="deposito">
<input wsam:Action="http://sw/VistaLoginMethods/depositoRequest" message="tns:deposito"/>
<output wsam:Action="http://sw/VistaLoginMethods/depositoResponse" message="tns:depositoResponse"/>
</operation>
<operation name="retiro">
<input wsam:Action="http://sw/VistaLoginMethods/retiroRequest" message="tns:retiro"/>
<output wsam:Action="http://sw/VistaLoginMethods/retiroResponse" message="tns:retiroResponse"/>
</operation>
<operation name="iniciosesion">
<input wsam:Action="http://sw/VistaLoginMethods/iniciosesionRequest" message="tns:iniciosesion"/>
<output wsam:Action="http://sw/VistaLoginMethods/iniciosesionResponse" message="tns:iniciosesionResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://sw/VistaLoginMethods/helloRequest" message="tns:hello"/>
<output wsam:Action="http://sw/VistaLoginMethods/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="VistaLoginMethodsPortBinding" type="tns:VistaLoginMethods">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="registro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deposito">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="retiro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="iniciosesion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="VistaLoginMethods">
<port name="VistaLoginMethodsPort" binding="tns:VistaLoginMethodsPortBinding">
<soap:address location="http://localhost:8080/1erProyectoSoap/VistaLoginMethods"/>
</port>
</service>
</definitions>